[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
python-craigslist = "*"
SQLAlchemy = "*"
sqlalchemy-mixins = "*"
python-dateutil = "*"
googlemaps = "*"
hypothesis = "*"

[dev-packages]
pylint = "*"
pytest = "*"
bandit = "*"

[requires]
python_version = "3.8"
